<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1>
      <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
    </h1>
  </header>

  {{> "systems/foundry-starforged/templates/actor/partial/assets.hbs"}}
</form>