<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1>
      <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
    </h1>
  </header>

  <section class="sheet-area assets">
    {{> "systems/ironsworn-starforged/templates/actor/partial/assets.hbs"}}
  </section>
</form>