<form>
  <h3>{{localize 'STARFORGED.Rolling'}} +{{localize (concat 'STARFORGED.' (capitalize stat))}}</h3>
  <div class="form-group">
    <label>{{localize 'STARFORGED.Bonus'}}</label>
    <input name="bonus" />
  </div>
</form>
