<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
    </h1>
  </header>

  <section class="sheet-area flexcol">
    <label class="description" for="data.description">{{localize 'STARFORGED.Description'}}</label>
    <textarea name="data.description">{{item.data.description}}</textarea>
  </section>
</form>
